/* 浅色模式：全局卡片背景 */
:root {
  --card-bg: rgba(255, 255, 255, 0.9); /* 你想要的颜色/透明度 */
}

/* 浅色模式背景图 */
#web_bg {
  background: url("/images/bg.png") center center / cover no-repeat fixed;
}

/* 深色模式：全局卡片背景 */
[data-theme='dark'] {
  --card-bg: rgba(35, 37, 48, 0.85);
}

/* 深色模式背景图 */
[data-theme='dark'] #web_bg {
  background: url("/images/bg-dark.jpg") center center / cover no-repeat fixed;
}